body {
  color: white;
}

#question {
  margin-bottom: 15px;
}

.choice-container {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  background: blueviolet;
  min-width: 80rem;
}

.choice-container:hover {
  cursor: pointer;
}

.choice-prefex {
  padding: 2rem 2.5rem;
  color: white;
  font-size: 20px;
}

.choice-text {
  font-size: 20px;
  padding: 2rem;
  width: 100%;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

/* Heads up display */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefex {
  text-align: center;
  font-size: 20px;
}

.hud-main-text {
  text-align: center;
}

#question {
  font-size: 40px;
}

#time-remaining {
  font-size: 20px;
  border: red;
  color: white;
}
